<!DOCTYPE html>
<html  ng-app="andlollo" lang="en" >



<link rel="stylesheet" type="text/css" href="css/materialize.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->



<head>


    <meta charset="UTF-8">
    <title>Angulollo</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Angulollo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#signup">Signup</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>
<div ng-view></div>


<form  name="provaForm">
    <label>Pwd</label>
    <input type="text" name="passwordverify" ng-model="password" ng-pattern="retypepassword" >
    <label>Retype Pwd</label>
    <input type="text" name="passwordReverify" ng-model="retypepassword">

    <input type ="submit" value="submit" ng-disabled="provaForm.$invalid">
</form>


</body>



<!-- js files -->

<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/materialize.js"></script>
<script src="js/libs/angular.js"></script>
<script src="js/libs/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/routing.js"></script>
</html>